@font-face {
	font-family: 'oldd';
	src: url('OldLondon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$MAIN_COLOR_BODY_SCREEN: #812b1a;
$BACKGROUND_COLOR: #000000;
$SCREEN_COLOR: #242323;
$BUTTON_BG: #625a41;
$BUTTON_COLOR: #000;
$BUTTON_BORDER_COLOR: #000;
$BUTTON_BG_CHOP: #416257;
$BUTTON_BG_VOLUMES: #4a4162;
$BUTTON_COLOR_EQUAL: #624141;;
$BUTTON_BG_SAMPLEANDFX: #415162;
$BUTTON_COLOR_SAMPLE_LOADED: #5e3027;
$BUTTON_SAMPLE_LOOP_MODE: #5e0000;
$BUTTON_COLOR_DISABLED: #4c4948;

body.sp2 {
	background-color: $BACKGROUND_COLOR;
	font-family: 'oldd', sans-serif;
	color: $MAIN_COLOR_BODY_SCREEN;

	#appTitle {
		font-size: 1.6rem;
		padding: 5px;
	}
	
	#console #screen {
		/* background-image: url('images/.....jpg');
		background-size: contain; */
		/* keeps image fully inside the textarea */
		/* background-repeat: no-repeat;
		background-position: top; */
		/* positions image at the top-left corner */
		font-family: 'oldd', sans-serif;
		color: $MAIN_COLOR_BODY_SCREEN;
		
		font-size: 1.4rem;
		border-color: $BACKGROUND_COLOR;
		background-color: $SCREEN_COLOR;
	}

	#buttons {
		gap: 6px;
		padding: 10px;
	
		button {
			font-family: 'oldd', sans-serif;
			background-color: $BUTTON_BG;
			color: $BUTTON_COLOR;
			border-radius: .8rem;
			border-color: $BUTTON_BORDER_COLOR;

			&#chopB,
			&#chopE {
				background-color: $BUTTON_BG_CHOP;
			}

			&#minus,
			&#plus {
				background-color: $BUTTON_BG_VOLUMES;
			}

			&#equal {
				background-color: $BUTTON_COLOR_EQUAL;
			}

			&.sampleSlot,
			&.effectsSlot {
				background-color: $BUTTON_BG_SAMPLEANDFX;
			}

			&.sampleLoaded {
				color: $BUTTON_COLOR_SAMPLE_LOADED;
			}

			&.loopMode {
				border: 2px dashed $BUTTON_SAMPLE_LOOP_MODE;
			}

			&:disabled {
				background-color: $BUTTON_COLOR_DISABLED !important;
			}
		}
	}
}