@font-face {
	font-family: 'oldd';
	src: url('OldLondon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$MAIN_COLOR_BODY_SCREEN: #812b1a;
$BACKGROUND_COLOR: #2f2f2e;
$SCREEN_COLOR: #242323;
$BUTTON_COLOR: #000;
$BUTTON_BG_CHOP: #7f6a3b;
$BUTTON_BG_VOLUMES: #7d6643;
$BUTTON_COLOR_EQUAL: #565d4d;
$BUTTON_BG_SAMPLEANDFX: #534e3d;
$BUTTON_COLOR_SAMPLE_LOADED: #5e3027;
$BUTTON_SAMPLE_LOOP_MODE: #977a7a;
$BUTTON_COLOR_DISABLED: #59524f;

body.sp2 {
	background-color: $BACKGROUND_COLOR;
	font-family: 'oldd', sans-serif;
	color: $MAIN_COLOR_BODY_SCREEN;

	#appTitle {
		font-size: 1.6rem;
		padding: 5px;
	}
	
	#console #screen {
		/* background-image: url('images/.....jpg');
		background-size: contain; */
		/* keeps image fully inside the textarea */
		/* background-repeat: no-repeat;
		background-position: top; */
		/* positions image at the top-left corner */
		font-family: 'oldd', sans-serif;
		color: $MAIN_COLOR_BODY_SCREEN;
		
		font-size: 1.4rem;
		border-color: $BACKGROUND_COLOR;
		background-color: $SCREEN_COLOR;
	}

	#buttons {
		gap: 6px;
		padding: 10px;
	
		button {
			font-family: 'oldd', sans-serif;
			background-color: #887752;
			color: $BUTTON_COLOR;
			border-radius: .5rem;
			box-shadow: inset -1px -1px 2px rgb(163 14 190 / 40%), 
						inset -5px -3px 5px rgba(0, 0, 0, 0.3), 
						3px 5px 9px rgb(0 0 0 / 50%), -1px -1px 3px rgb(30 11 11 / 10%);

			&#chopB,
			&#chopE {
				background-color: $BUTTON_BG_CHOP;
			}

			&#idontknowyetmaybesequence,
			&#minus,
			&#plus {
				background-color: $BUTTON_BG_VOLUMES;
			}

			&#equal {
				background-color: $BUTTON_COLOR_EQUAL;
			}

			&.sampleSlot,
			&.effectsSlot {
				background-color: $BUTTON_BG_SAMPLEANDFX;
			}

			&.sampleLoaded {
				color: $BUTTON_COLOR_SAMPLE_LOADED;
			}

			&.loopMode {
				border: 2px dashed $BUTTON_SAMPLE_LOOP_MODE;
			}

			&:disabled {
				background-color: $BUTTON_COLOR_DISABLED !important;
			}
		}
	}
}