body.sadDreams {
	background-color: #f2eaf5;
}

body.sadDreams,
body.sadDreams #screen,
body.sadDreams button {
	color: #4a5697;
}

body.sadDreams #console #screen {
	font-size: 1rem;
	border-color: #f2eaf5;
}

body.sadDreams button {
	border: 2px solid #4a5697;
	border-radius: .3rem;
	background-color: white;
}

body.sadDreams button:disabled {
	background-color: #e8e8e8;
}