body.sadDreams {
	background-color: #f2eaf5;
	color: #4a5697;

	#screen,
	button {
		color: #4a5697;
	}

	#screen {
		font-size: 1rem;
		border-color: #f2eaf5;
	}

	button {
		border: 2px solid #4a5697;
		border-radius: .3rem;
		background-color: white;
	}

	button:disabled {
		background-color: #e8e8e8;
	}
}